<%= render "form", domain: @domain %>

<div class="max-w-2xl mx-auto bg-surface rounded-xl shadow-lg p-6 mt-8">
  <h2 class="text-lg font-semibold mb-2 text-main">Your Scans</h2>
  <ul class="space-y-4" id="domains">
    <% if @domains.empty? %>
      <%= render "no_domains_message" %>
    <% else %>
      <%= render partial: 'domain_item', collection: @domains, as: :domain %>
    <% end %>
  </ul>
</div>