<h1>Domain Scan Details</h1>
<p>
  <strong>Domain:</strong> <%= @domain.domain %><br>
  <strong>Created At:</strong> <%= @domain.created_at %><br>
  <strong>Updated At:</strong> <%= @domain.updated_at %>
</p>
<%= link_to 'Back to Scans', domains_path %> 